<%- include('head'); %>
<div class="container">
  <h1>Login</h1>
  <div style="visibility:hidden" id="error-div"><p id="error" class="alert alert-danger" role="alert"></p></div>
  Try accessing <a href="/restricted">/restricted</a>, else <a href="/register">register</a>.
  <form method="post" action="/login">
    <table>
      <tr>
        <td><label>Username:</label>
        <td><input type="text" name="username"></td>
      </tr>
      <tr>
        <td><label>Password:</label></td>
        <td><input type="password" name="password"></td>
      </tr>
      <tr>
        <td></td>
        <td><input type="submit" value="Login"></td>
      </tr>
    </table>
  </form>
</div>

<%- include('foot');%>
