<%- include('head'); %>
	<h1>Restricted</h1>
	<div><p id="error"></p></div>
	<form method="post" action="/logout">
	  <p>
	    <label>You can log out below</label>
	  </p>
	  <p>
	    <input type="submit" value="Logout"/>
	  </p>
	</form>
<%- include('foot');%>